<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>My Trello</title>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/trello.css">
</head>
<body ng-cloak>
<header>
    <div class="row">
        <div class="app-name left">Trello</div>
    </div>
</header>

<section id="lists-container" class="lists-container"
         ng-controller="listsCtrl as listsCtrl">
    <div class="row">
        <section class="list list-inline"
                 ng-repeat="list in listsCtrl.lists"
                 ng-controller="listCtrl as listCtrl">
            <h1>{{list.listName}}</h1>

            <a ng-click="listCtrl.removeList(list)" class="hand">
                <div class="remove remove-list"></div>
            </a>

            <div class="card" ng-repeat="card in listCtrl.getCards(list)"
                 ng-controller="cardCtrl as cardCtrl">

                <div ng-if="!cardCtrl.isEditCard">
                    {{card.description}}

                    <div ng-click="cardCtrl.editCard(card)" class="edit-small edit-card hand"></div>

                    <a ng-click="cardCtrl.removeCard(card)" class="hand">
                        <div class="remove remove-card"></div>
                    </a>
                </div>

                <div ng-if="cardCtrl.isEditCard">
                    <form ng-submit="cardCtrl.updateCard()">
                        <input type="text" ng-model="cardCtrl.editingCard.description"
                            close-editing is-edit-card="cardCtrl.isEditCard"/>
                        <select class="select-list"
                                ng-model="cardCtrl.editingCard.list_id"
                                ng-change="cardCtrl.updateCard()"
                                ng-options="list.id as list.listName for list in listsCtrl.lists">
                        </select>
                    </form>
                </div>
            </div>

            <section class="new-card">
                <form ng-submit="listCtrl.createCard(list)">
                    <input type="text" ng-model="listCtrl.cardDescription"
                           class="card-input" placeholder="New Card">
                </form>
            </section>


        </section>

        <section class="list new-list list-inline">
            <form ng-submit="listsCtrl.addList()">
                <input type="text" ng-model="listsCtrl.listName">
            </form>
        </section>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/lodash/4.5.0/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/listsFactory.js"></script>
<script src="js/factories/cardFactory.js"></script>
<script src="js/controllers/listsCtrl.js"></script>
<script src="js/controllers/listCtrl.js"></script>
<script src="js/controllers/cardCtrl.js"></script>
<script src="js/directives/closeEditing.js"></script>
</body>
</html>